<Navbar />

<div class="container">
    <div class="row mx-5 my-5">
        <div class="col gx-lg-5 align-items-center">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Check in</th>
                        <th scope="col">Lesson ID</th>
                        <th scope="col">Student Card ID</th>
                        <th scope="col">Check out</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="a in attendances">
                        <th scope="row">{{ a.id }}</th>
                        <td>{{ a.checkIn }}</td>
                        <td>{{ a.lessonId }}</td>
                        <td>{{ a.studentCardId }}</td>
                        <td>{{ a.checkOut }}</td>
                    </tr>
                </tbody>
            </table>
            
           <!-- <div>
                <h4>Add Attendance</h4>
                <input v-model.number="addData.cardId" placeholder="cardId" type="number" />
                <input v-model.number="addData.lessonId" placeholder="lessonId" type="number" />
                <button v-on:click="addAttendance()" class="btn btn-success">Add Attendance</button>
                <div>{{addMessage}}</div>

                async addAttendance() {
            try {
                response = await axios.post('http://localhost:5246/api/Attendances', this.addData)
                this.addMessage = "response " + response.status + " " + response.statusText
                this.getAttendances()
                
            } catch (ex) {
                alert(ex.message)
            }
        },
            </div> --> 

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add </button>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Add attendance</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <vue3-loading-overlay :active="isLoading" :color="color" />
                    <!-- Card Id input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="cardId">Card ID</label>
                      <input type="number" id="cardId" class="form-control" v-model="cardId" />
                    </div>
    
                    <!--Lesson ID input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="name">Lesson ID</label>
                      <input type="number" id="lessonId" class="form-control" v-model="lessonId" />
                    </div>
    
                    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-success" v-on:click="addStudent" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
  </div>
        </div>
    </div>
</div>